In [38]:
import pandas as pd
import datetime 
import pandasql as ps
import numpy as np

In [2]:
df = pd.read_csv('Final Data/MBC2_all.csv')

In [100]:
columns = ['study_id', 'goal', 'cond', 'sed_min', 'pa_min_app', 'pa_min_shimmer', 'pa_min', 'pa_min_shimmer_16k', 'pa_min_16k', 'pa_min_shimmer_20k','pa_min_20k', 'calories', 'saturated_fatty_acids', 'fv_credit']
df_outcomes = df[columns]

# remove invalid records whose goal is invalid
df = df[df['cond']==1]
df = df.loc[(df['goal']==1) | (df['goal']==2) | (df['goal']==3) | (df['goal']==4) | (df['goal']==5) | (df['goal']==6) | (df['goal']==8) | (df['goal']==10)]

### Check all records of missing values are valid

In [101]:
df_sed = df[['study_id', 'sed_min','goal']]
df_sed = df_sed[df_sed.sed_min != 999999]
df_sed.groupby(by=['study_id','goal']).count().to_csv('check/1.csv')

df_pa_min_app = df[['study_id', 'pa_min_app','goal']]
df_pa_min_app = df_pa_min_app[df_pa_min_app.pa_min_app != 999999]
df_pa_min_app.groupby(by=['study_id','goal']).count().to_csv('check/2.csv')

df_shimmer = df[['study_id', 'pa_min_shimmer','goal']]
df_shimmer = df_shimmer[df_shimmer.pa_min_shimmer != 999999]
df_shimmer.groupby(by=['study_id','goal']).count().to_csv('check/3.csv')

df_pa_min = df[['study_id', 'pa_min','goal']]
df_pa_min = df_pa_min[df_pa_min.pa_min != 999999]
df_pa_min.groupby(by=['study_id','goal']).count().to_csv('check/4.csv')

df_shimmer_16k = df[['study_id', 'pa_min_shimmer_16k','goal']]
df_shimmer_16k = df_shimmer_16k[df_shimmer_16k.pa_min_shimmer_16k != 999999]
df_shimmer_16k.groupby(by=['study_id','goal']).count().to_csv('check/5.csv')

df_pa_min_16k = df[['study_id', 'pa_min_16k','goal']]
df_pa_min_16k = df_pa_min_16k[df_pa_min_16k.pa_min_16k != 999999]
df_pa_min_16k.groupby(by=['study_id','goal']).count().to_csv('check/6.csv')

df_shimmer_20k = df[['study_id', 'pa_min_shimmer_20k','goal']]
df_shimmer_20k = df_shimmer_20k[df_shimmer_20k.pa_min_shimmer_20k != 999999]
df_shimmer_20k.groupby(by=['study_id','goal']).count().to_csv('check/7.csv')

df_pa_min_20k = df[['study_id', 'pa_min_20k','goal']]
df_pa_min_20k = df_pa_min_20k[df_pa_min_20k.pa_min_20k != 999999]
df_pa_min_20k.groupby(by=['study_id','goal']).count().to_csv('check/8.csv')

df_cal = df[['study_id', 'calories','goal']]
df_cal = df_cal[df_cal.calories != 999999]
df_cal.groupby(by=['study_id','goal']).count().to_csv('check/9.csv')

df_fat = df[['study_id', 'saturated_fatty_acids','goal']]
df_fat = df_fat[df_fat.saturated_fatty_acids != 999999]
df_fat.groupby(by=['study_id','goal']).count().to_csv('check/10.csv')

df_fv = df[['study_id', 'fv_credit','goal']]
df_fv = df_fv[df_fv.fv_credit != 999999]
df_fv.groupby(by=['study_id','goal']).count().to_csv('check/11.csv')

In [102]:
df_1 = pd.read_csv('check/1.csv')
df_2 = pd.read_csv('check/2.csv')
df_3 = pd.read_csv('check/3.csv')
df_4 = pd.read_csv('check/4.csv')
df_5 = pd.read_csv('check/5.csv')
df_6 = pd.read_csv('check/6.csv')
df_7 = pd.read_csv('check/7.csv')
df_8 = pd.read_csv('check/8.csv')
df_9 = pd.read_csv('check/9.csv')
df_10 = pd.read_csv('check/10.csv')
df_11 = pd.read_csv('check/11.csv')

#outter join all
df_all = pd.merge(df_1, df_2, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_3, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_4, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_5, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_6, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_7, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_8, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_9, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_10, how="outer", on=["study_id",'goal'])
df_all = pd.merge(df_all, df_11, how="outer", on=["study_id",'goal'])

In [103]:
df_all = df_all.fillna(0)

In [105]:
df_all.to_csv('check/abnormal_outcome_count.csv')

In [104]:
df_all

,study_id,goal,sed_min,pa_min_app,pa_min_shimmer,pa_min,pa_min_shimmer_16k,pa_min_16k,pa_min_shimmer_20k,pa_min_20k,calories,saturated_fatty_acids,fv_credit
0,2564,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,2578,8,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0
2,2629,6,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0
3,2629,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
4,2761,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2761,10,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0
6,2802,8,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
7,3133,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0
8,3187,8,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
9,3344,6,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,7.0
10,3344,8,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,7.0
11,3363,8,3.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0,47.0,47.0,47.0
12,3540,6,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,7.0
13,4084,8,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,4.0,4.0
14,4596,6,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,13.0,13.0
15,4971,8,3.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
16,4971,10,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,5.0,5.0
17,5396,6,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0
18,6160,6,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0
19,6160,8,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
20,6160,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
21,6544,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,6.0
22,3238,8,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
23,3378,6,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
24,3540,8,0.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0,0.0,0.0
25,4501,10,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
26,6916,8,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
27,3298,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
28,3344,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0
29,3378,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
30,4263,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0

### Align Shimmer Values With Goals

In [3]:
df_shimmer_baseline = pd.read_csv('MBC2_Baseline/Raw Data/s2_counts.csv')
df_shimmer_copy = pd.read_csv('MBC2_Copy/Raw Data/s2_counts.csv')
df_user = pd.read_csv('MBC2_Baseline/Raw Data/users.csv') 
df_goal = pd.read_csv('MBC2_Baseline/Raw Data/goals.csv')

In [4]:
#all participants
id_list = []
for i in range(df_user.shape[0]):
    #extract users' name starting with 'mbc2'
    if (df_user['username'][i][0:4] == 'mbc2'):
        id_list.append(df_user['user_id'][i])
id_list.sort()

print('There are', len(id_list), 'participants in intervention/follow-up period')

There are 212 participants in intervention/follow-up period

In [5]:
# selecting rows for participants only
df_shimmer_baseline = df_shimmer_baseline[df_shimmer_baseline['user_id'].isin(id_list)]
df_shimmer_copy = df_shimmer_copy[df_shimmer_copy['user_id'].isin(id_list)]

# using > 60
df_shimmer_baseline['valid'] = np.where(df_shimmer_baseline['pa_count']>=60, 1, 0)
df_shimmer_copy['valid'] = np.where(df_shimmer_copy['pa_count']>=60, 1, 0)

# convert time to timestamp and date
df_shimmer_baseline['tstamp'] = pd.to_datetime(df_shimmer_baseline.tstamp)
df_shimmer_copy['tstamp'] = pd.to_datetime(df_shimmer_copy.tstamp)
df_shimmer_baseline['upload_time'] = df_shimmer_baseline['tstamp'].dt.date
df_shimmer_copy['upload_time'] = df_shimmer_copy['tstamp'].dt.date
df_shimmer_baseline['upload_time'] = pd.to_datetime(df_shimmer_baseline.upload_time)
df_shimmer_copy['upload_time'] = pd.to_datetime(df_shimmer_copy.upload_time)

# convert id to study_id
df_user= df_user[df_user['user_id'].isin(id_list)]
df_goal= df_goal[df_goal['user_id'].isin(id_list)]
df_align = df_user[['user_id', 'study_id']]

df_shimmer_baseline = pd.merge(df_align, df_shimmer_baseline, how='right', on=['user_id'])
df_shimmer_copy = pd.merge(df_align, df_shimmer_copy, how='right', on=['user_id'])

# subset and sort
df_shimmer_baseline = df_shimmer_baseline[['study_id', 'upload_time', 'pa_count', 'valid']]
df_shimmer_copy = df_shimmer_copy[['study_id', 'upload_time', 'pa_count', 'valid']]

df_shimmer_baseline = df_shimmer_baseline.sort_values(by=['upload_time'])
df_shimmer_copy = df_shimmer_copy.sort_values(by=['upload_time'])

In [6]:
df_shimmer_baseline.head(5)

       study_id upload_time  pa_count  valid
56096    1436.0  2012-07-18        69      1
56168    1436.0  2012-07-18       431      1
56169    1436.0  2012-07-18       114      1
56170    1436.0  2012-07-18        69      1
56171    1436.0  2012-07-18        62      1

In [ ]:
baseline_EDA['upload_time'] = pd.to_datetime(baseline_EDA .upload_time)
copy_EDA['upload_time'] = pd.to_datetime(copy_EDA.upload_time)

In [75]:
#align goal id with study id
df_goal = pd.merge(df_goal, df_align, how='inner', on=['user_id'])
df_goal = df_goal[['study_id','goal_start_date', 'periodname','period_num']]
df_goal['period_num'] = df_goal['period_num'] + 1
studyIds = list(set(list(df_goal['study_id'])))
goal_start = ['1900-01-01']*len(studyIds)
periodname = ['baseline']*len(studyIds)
period_num = [0]*len(studyIds)
d = {'study_id': studyIds, 'goal_start_date': goal_start, 'periodname': periodname, 'period_num':period_num}
df_baseline = pd.DataFrame(data=d)

df_goal = df_goal.append(df_baseline)
df_goal = df_goal.sort_values(by=['study_id','period_num'])
df_goal['goal_start_date'] = pd.to_datetime(df_goal.goal_start_date)

In [78]:
#align the goal key to upload time (all)
def align_goals(result_all, df_goal):
    periodnumList = []
    for rows in range(result_all.shape[0]):
        df_sub = df_goal[df_goal['study_id'] == result_all['study_id'][rows]]
        index = 0
        for i in list(df_sub['goal_start_date']):
            if (result_all['upload_time'][rows] >= i):
                index = index + 1
            else:
                break
        index = index - 1
        periodnum = list(df_sub['period_num'])[index]
        periodnumList.append(periodnum)

    result_all['goal'] = periodnumList
    return result_all

baseline_EDA = align_goals(baseline_EDA, df_goal)
copy_EDA = align_goals(copy_EDA, df_goal)

In [80]:
# for baseline: remove goal != 0
baseline_EDA = baseline_EDA.drop(baseline_EDA[baseline_EDA['goal'] > 0].index)

# for follow-up: remove goal > 11
copy_EDA = copy_EDA[copy_EDA['goal']<12]

In [87]:
baseline_EDA[baseline_EDA['total_min']>baseline_EDA['valid_min']].head(20)

     study_id upload_time  valid_min  total_min  goal
28     1391.0  2012-07-26        566        595     0
32     1391.0  2012-08-09        894        896     0
42     1412.0  2012-07-21        727        728     0
47     1412.0  2012-07-28        680        860     0
55     1412.0  2012-08-06        880        882     0
115    1525.0  2012-07-24        689        732     0
116    1525.0  2012-07-25        459        539     0
117    1525.0  2012-07-26        448        454     0
118    1525.0  2012-07-27        850        888     0
119    1525.0  2012-07-28        760        764     0
120    1525.0  2012-07-29        553        570     0
121    1525.0  2012-07-30         41         42     0
122    1525.0  2012-07-31        479        492     0
123    1525.0  2012-08-01        653        661     0
126    1525.0  2012-08-04        444        450     0
127    1525.0  2012-08-05        325        377     0
128    1525.0  2012-08-06        703        704     0
129    1525.0  2012-08-07        899        943     0
131    1525.0  2012-08-09        662        698     0
133    1525.0  2012-08-13        670        688     0

In [82]:
baseline_EDA.to_csv('check/shimmer/baseline_min_level.csv')
copy_EDA.to_csv('check/shimmer/followup_min_level.csv')

In [8]:
baseline_EDA = pd.read_csv('check/shimmer/baseline_min_level.csv')
copy_EDA = pd.read_csv('check/shimmer/followup_min_level.csv')

In [12]:
valid_baseline = list(baseline_EDA['valid_min'])
valid_followup = list(copy_EDA['valid_min'])

In [15]:
def Stats_List(l):
    Max = np.max(l)
    Min = np.min(l)
    Mean = np.mean(l)
    Median = np.median(l)
    STD = np.std(l)

    #outlier percentage
    q1 = np.percentile(l, 25)  
    q3 = np.percentile(l, 75)
    IQR = q3-q1
    low = q1 - 1.5*IQR
    high = q3+1.5*IQR

    outliersPercent = len([i for i in l if i < low or i > high]) / len(l) * 100

    return([Min, Max, Mean, Median, STD, outliersPercent])

In [17]:
l1 = ['Baseline Valid Minutes Per Day'] + Stats_List(valid_baseline)
l2 = ['Follow-up Valid Minutes Per Day'] + Stats_List(valid_followup)

df_all = pd.DataFrame([l1,l2])
df_all.columns= ['Outcome', 'Min', 'Max', 'Mean', 'Median', 'STD', 'Outliers Percentage %']
df_all

,Outcome,Min,Max,Mean,Median,STD,Outliers Percentage %
0,Baseline Valid Minutes Per Day,0,1494,562.157657,593.0,283.540393,0.158335
1,Follow-up Valid Minutes Per Day,1,1460,578.021790,615.0,269.558190,0.373016

### Create shimmer wear time and active minutes based on 2 algorithms

In [129]:
df_copy_count = pd.DataFrame({'ID':ID_col, 'upload_time': time_col, 'valid_min_algorithm_2':sum_col_2, 'valid_day_algorithm_2': valid_col_2, 'valid_min_algorithm_3':sum_col_3, 'valid_day_algorithm_3': valid_col_3})
df_copy_days = ps.sqldf('select ID, sum(valid_day_algorithm_2) as valid_days_algorithm_2, count(valid_day_algorithm_2) as total_days_algorithm_2, sum(valid_day_algorithm_3) as valid_days_algorithm_3, count(valid_day_algorithm_3) as total_days_algorithm_3 from df_copy_count group by ID')

df_copy_count.to_csv('check/shimmer/followup_min_algorithm.csv')
df_copy_days.to_csv('check/shimmer/followup_day_algorithm.csv')

In [5]:
# Stats
df_1 = pd.read_csv('shimmer/baseline_min_algorithm.csv')
df_2 = pd.read_csv('shimmer/baseline_day_algorithm.csv')
df_3 = pd.read_csv('shimmer/followup_min_algorithm.csv')
df_4 = pd.read_csv('shimmer/followup_day_algorithm.csv')

In [27]:
def Stats_1(df, column):
    ID_list = list(set(df['ID']))
    
    stats = []
    for id in ID_list:
        df_user = df[df['ID'] == id]

        l = list(df_user[column])
        Max = np.max(l)
        Min = np.min(l)
        Mean = np.mean(l)
        Median = np.median(l)
        STD = np.std(l)

        #outlier percentage
        q1 = np.percentile(l, 25)  
        q3 = np.percentile(l, 75)
        IQR = q3-q1
        low = q1 - 1.5*IQR
        high = q3+1.5*IQR

        outliersPercent = len([i for i in l if i < low or i > high]) / len(l)
        stats.append([id, Min, Max, Mean, Median, STD, outliersPercent])
    return(stats)

def Stats_2(df, column):

    l = list(df[column])
    Max = np.max(l)
    Min = np.min(l)
    Mean = np.mean(l)
    Median = np.median(l)
    STD = np.std(l)

    #outlier percentage
    q1 = np.percentile(l, 25)  
    q3 = np.percentile(l, 75)
    IQR = q3-q1
    low = q1 - 1.5*IQR
    high = q3+1.5*IQR

    outliersPercent = len([i for i in l if i < low or i > high]) / len(l)

    return([Min, Max, Mean, Median, STD, outliersPercent])

In [15]:
df_1.head(5)

,Unnamed: 0,ID,upload_time,valid_min_algorithm_2,valid_day_algorithm_2,valid_min_algorithm_3,valid_day_algorithm_3
0,0,1538.0,2012-07-21,109,0,109,0
1,1,1538.0,2012-08-13,927,1,927,1
2,2,1538.0,2012-07-20,677,0,677,1
3,3,1538.0,2012-08-15,82,0,82,0
4,4,1538.0,2012-08-11,529,0,529,0

In [21]:
df_stats_1 = pd.DataFrame(Stats_1(df_1, 'valid_min_algorithm_2'))
df_stats_1.columns = ['ID', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_stats_1 = df_stats_1.sort_values(by=['ID'])
df_stats_2 = pd.DataFrame(Stats_1(df_1, 'valid_min_algorithm_3'))
df_stats_2.columns = ['ID', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_stats_2 = df_stats_2.sort_values(by=['ID'])

df_stats_3 = pd.DataFrame(Stats_1(df_3, 'valid_min_algorithm_2'))
df_stats_3.columns = ['ID', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_stats_3 = df_stats_3.sort_values(by=['ID'])
df_stats_4 = pd.DataFrame(Stats_1(df_3, 'valid_min_algorithm_3'))
df_stats_4.columns = ['ID', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_stats_4 = df_stats_4.sort_values(by=['ID'])

df_stats_1.to_csv('shimmer/Stats/baseline_min_algorithm2_stats.csv', index = False)
df_stats_2.to_csv('shimmer/Stats/baseline_min_algorithm3_stats.csv', index = False)
df_stats_3.to_csv('shimmer/Stats/followup_min_algorithm2_stats.csv', index = False)
df_stats_4.to_csv('shimmer/Stats/followup_min_algorithm3_stats.csv', index = False)

In [22]:
df_2.head(5)

,Unnamed: 0,ID,valid_days_algorithm_2,total_days_algorithm_2,valid_days_algorithm_3,total_days_algorithm_3
0,0,1383.0,12,28,16,28
1,1,1391.0,6,13,6,13
2,2,1412.0,11,17,12,17
3,3,1436.0,31,38,33,38
4,4,1457.0,1,19,9,19

In [32]:
l1 = ['Basline Valid_days (algorithm 2)'] + Stats_2(df_2, 'valid_days_algorithm_2')
l2 = ['Basline Valid_days (algorithm 3)'] + Stats_2(df_2, 'valid_days_algorithm_3')
l3 = ['Basline Total_days (algorithm 2)'] + Stats_2(df_2, 'total_days_algorithm_2')
l4 = ['Basline Total_days (algorithm 2)'] + Stats_2(df_2, 'total_days_algorithm_3')

df_all = pd.DataFrame([l1,l2,l3,l4])
df_all.columns= ['Outcome', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_all

,Outcome,Min,Max,Mean,Median,STD,outliersPercent
0,Basline Valid_days (algorithm 2),0,60,6.702830,5.0,7.123664,0.028302
1,Basline Valid_days (algorithm 3),0,83,9.471698,8.0,8.823433,0.028302
2,Basline Total_days (algorithm 2),7,104,20.872642,18.0,10.722389,0.023585
3,Basline Total_days (algorithm 2),7,104,20.872642,18.0,10.722389,0.023585

In [33]:
l1 = ['Follow-up Valid_days (algorithm 2)'] + Stats_2(df_4, 'valid_days_algorithm_2')
l2 = ['Follow-up Valid_days (algorithm 3)'] + Stats_2(df_4, 'valid_days_algorithm_3')
l3 = ['Follow-up Total_days (algorithm 2)'] + Stats_2(df_4, 'total_days_algorithm_2')
l4 = ['Follow-up Total_days (algorithm 2)'] + Stats_2(df_4, 'total_days_algorithm_3')

df_all = pd.DataFrame([l1,l2,l3,l4])
df_all.columns= ['Outcome', 'Min', 'Max', 'Mean', 'Median', 'STD', 'outliersPercent']
df_all

,Outcome,Min,Max,Mean,Median,STD,outliersPercent
0,Follow-up Valid_days (algorithm 2),0,213,40.664948,18.5,48.998907,0.051546
1,Follow-up Valid_days (algorithm 3),0,245,59.793814,31.0,62.782875,0.005155
2,Follow-up Total_days (algorithm 2),1,284,115.726804,104.5,93.341368,0.000000
3,Follow-up Total_days (algorithm 2),1,284,115.726804,104.5,93.341368,0.000000

In [11]:
# MBC2 dupliacated fixation
df_final = pd.read_csv('Final Data/MBC2_all.csv')
df_final = df_final.drop_duplicates(subset=['study_id', 'upload_time'], keep='first')

In [14]:
df_count = ps.sqldf("select study_id as study_id, count(*) as count from df_final group by study_id")
df_count_goal = ps.sqldf("select study_id as study_id, goal as goal, count(*) as count from df_final group by study_id, goal")

In [17]:
df_count.to_csv('MBC2_count.csv', index=False)
df_count_goal.to_csv('MBC2_count_goal.csv', index=False)
df_final.to_csv('Final Data/MBC2_all.csv', index=False)

In [5]:
def shimmer(df_pa_device):
    #get day-level date
    df_pa_device['upload_time'] = df_pa_device['tstamp'].astype('string').str[:10]
    
    #active minute
    df_pa_device_active = df_pa_device[df_pa_device['pa_count'] >= 60]
    
    #group by user and each day, count total physical activity minutes per day
    df_pa_device_count = ps.sqldf("select user_id, upload_time, count(pa_count) as pa_minute_shimmer from df_pa_device_active group by user_id, upload_time")
    
    df_pa_device_count['pa_minute_shimmer'] = df_pa_device_count['pa_minute_shimmer'].fillna(0)
    
    return(df_pa_device_count)

In [6]:
### Shimmer Wearmiutes Cutoff
s2_table_baseline = pd.read_csv('MBC2_Baseline/Raw Data/s2_counts.csv')
s2_table_follow = pd.read_csv('MBC2_Copy/Raw Data/s2_counts.csv')
df_user = pd.read_csv('MBC2_Copy/Raw Data/users.csv') 

#all participants
id_list = []
for i in range(df_user.shape[0]):
    #extract users' name starting with 'mbc2'
    if (df_user['username'][i][0:4] == 'mbc2'):
        id_list.append(df_user['user_id'][i])
id_list.sort()
print('There are', len(id_list), 'participants in intervention/follow-up period')

# selecting rows for participants only
s2_table_baseline = s2_table_baseline[s2_table_baseline['user_id'].isin(id_list)]
s2_table_follow = s2_table_follow[s2_table_follow['user_id'].isin(id_list)]

#reset index
s2_table_baseline = s2_table_baseline.reset_index(drop=True)
s2_table_follow = s2_table_follow.reset_index(drop=True)

There are 212 participants in intervention/follow-up period

In [8]:
shimmer_baseline = shimmer(s2_table_baseline)
shimmer_follow = shimmer(s2_table_follow)

In [11]:
shimmer_baseline['wearday_6h'] = np.where(shimmer_baseline['pa_minute_shimmer']>360, 1, 0)
shimmer_baseline['wearday_8h'] = np.where(shimmer_baseline['pa_minute_shimmer']>480, 1, 0)
shimmer_baseline['wearday_10h'] = np.where(shimmer_baseline['pa_minute_shimmer']>600, 1, 0)

shimmer_follow['wearday_6h'] = np.where(shimmer_follow['pa_minute_shimmer']>360, 1, 0)
shimmer_follow['wearday_8h'] = np.where(shimmer_follow['pa_minute_shimmer']>480, 1, 0)
shimmer_follow['wearday_10h'] = np.where(shimmer_follow['pa_minute_shimmer']>600, 1, 0)

In [14]:
df_user= df_user[df_user['user_id'].isin(id_list)]
df_user = df_user[['user_id', 'study_id']]

#merge with PA and SED
shimmer_baseline = pd.merge(shimmer_baseline, df_user, how='inner', on=['user_id'])
shimmer_follow = pd.merge(shimmer_follow, df_user, how='inner', on=['user_id'])

In [12]:
df = pd.read_csv('Final Data/MBC2_all.csv')

In [16]:
shimmer_baseline['upload_time'] = pd.to_datetime(shimmer_baseline.upload_time)
shimmer_follow['upload_time'] = pd.to_datetime(shimmer_follow.upload_time)
df['upload_time'] = pd.to_datetime(df.upload_time)

In [19]:
shimmer_baseline = shimmer_baseline[['study_id', 'upload_time', 'wearday_6h', 'wearday_8h' , 'wearday_10h']]
shimmer_follow = shimmer_follow[['study_id', 'upload_time', 'wearday_6h', 'wearday_8h' , 'wearday_10h']]
result = shimmer_baseline.append(shimmer_follow)

In [25]:
df_final = pd.merge(df, result, how='left', on=['study_id', 'upload_time'])

In [31]:
df_final.loc[df_final.pa_min_shimmer == 999999, 'wearday_6h'] = 999999
df_final.loc[df_final.pa_min_shimmer == 999999, 'wearday_8h'] = 999999
df_final.loc[df_final.pa_min_shimmer == 999999, 'wearday_10h'] = 999999

df_final.loc[df_final.pa_min_shimmer == 0, 'wearday_6h'] = 0
df_final.loc[df_final.pa_min_shimmer == 0, 'wearday_8h'] = 0
df_final.loc[df_final.pa_min_shimmer == 0, 'wearday_10h'] = 0

In [34]:
df_final = df_final.fillna(999999)

In [37]:
df_final.to_csv('Final Data/MBC2_updated.csv', index=False)